<div>
    <h1>Lista de Productos</h1>
    <ul id="product-list">
        {{#each products}}
            <li>
                <a href="/products/{{this.id}}">{{this.title}} - ${{this.price}}</a>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>
    {{#if hasPrevPage}}
        <a href="/api/products?limit={{limit}}&page={{prevPage}}">Página anterior</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/api/products?limit={{limit}}&page={{nextPage}}">Página siguiente</a>
    {{/if}}
</div>

<script>
   
    const cartId = "{{cartId}}"; 

    function addToCart(productId) {
        if (!cartId) {
            alert('No tienes un carrito asociado. Por favor, inicia sesión o crea uno.');
            return;
        }

        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ quantity: 1 })
        })
        .then(response => response.json())
        .then(data => {
            alert('Producto agregado al carrito');
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Hubo un error al agregar el producto al carrito');
        });
    }
</script>
